output_Fold 1/
msk_extracted/
extracted_test/
Fold 1_instance_refine_all.pdf
Fold 1_refined.pk
datasets/Fold 1_instance_refine_all.pdf
datasets/Fold 1_refined.pk
misc bat files/
misc csv files/
misc py files/
options-debug.ini
*.pk
*.pdf
*.html
*.json
*.csv
*.png
*.tif
*.tiff
*.pth
*.lock
detectron2-rpd-pkg/dist
models/
__pycache__/
OutputTestSet/
Extracted/
Models/